/** @define timeline **/

$timeline-dot-size: 14px;
$timeline-connector-width: 32px + $timeline-dot-size;

.timeline {
  position: relative;
}

.timeline__header {
  display: flex;
  flex-direction: column;
}

.timeline__title {
  // line-height: 32px;
}

.timeline__connector {
  // width: 56px;
  flex-basis: $timeline-connector-width;
  min-width: $timeline-connector-width;

  // max-width: 56px;
  display: flex;
  position: relative;
  margin-left: -14px;
}

.timeline__line {
  border-right: dotted #f0eadd 2px;
  position: absolute;
  top: 12px;
  left: 50%;
  right: 50%;
  height: calc(100%);
  margin: auto;
  margin-left: -1px;
}

.timeline__dot {
  background-color: initial;
  width: $timeline-connector-width;
  height: 22px;
  margin: 0 auto;
  border-radius: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.timeline__inner-dot {
  position: relative;
  content: '';
  width: 14px;
  height: 14px;
  display: block;
  background-color: #e7b547;
  z-index: 1;
  border-radius: 100%;
}

.timeline__item {
  background-color: initial;
  position: relative;
  display: flex;
}

.timeline__body,
.timeline__secondary {
  background-color: initial;
  flex: 1 0;
  margin-bottom: 24px;
}

.timeline__connector + .timeline__body {
  padding-right: 0;
}

.timeline__secondary {
  flex: initial;
  padding-left: 12px;
}

.timeline__item--center .timeline__body,
.timeline__item--center .timeline__secondary,
.timeline__item--center .timeline__dot,
.timeline__body--center,
.timeline__secondary--center,
.timeline__connector--center .timeline__dot {
  align-self: center;
}

.timeline__item--bottom .timeline__body,
.timeline__item--bottom .timeline__secondary,
.timeline__item--bottom .timeline__dot,
.timeline__body--bottom,
.timeline__secondary--bottom,
.timeline__connector--bottom .timeline__dot {
  align-self: flex-end;
}

.timeline__item > .timeline__body:first-of-type {
  text-align: right;
}

.timeline__item:last-child {
  .timeline__body,
  .timeline__secondary {
    margin-bottom: 0;
  }

  .timeline__line {
    display: none;
  }
}

.timeline__item.is-active {
  .timeline__dot {
    background-color: #f0eadd;
  }

  .timeline__inner-dot {
    background-color: #e7b547;
  }
}

.timeline__item.is-muted {
  color: #0000008f;

  .timeline__inner-dot {
    background-color: #f0eadd;
  }
}

.timeline--neutral {
  .timeline__item {
    .timeline__dot {
      background-color: initial;
    }

    .timeline__inner-dot {
      background-color: var(--color-light, #a3a3a3);
    }

    .timeline__line {
      border-color: var(--color-light, #a3a3a3);
    }
  }

  .timeline__item.is-active {
    .timeline__inner-dot {
      background-color: var(--color-dark, #707070);
    }
  }
}
